@model PLC_GenCo.ViewModels.Setups.AIAlarmSetupViewModel
@{
    ViewBag.Title = "SetupAIAlarm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Setup analog alarm</h2>
<h3>@Model.Component.Name</h3>
<h4>@Model.Component.Comment</h4>
<h4>Location: @Model.Component.Location</h4>

@using (Html.BeginForm("SaveAIAlarm", "Factory"))
{
    <div id="AIAlarmSetup">
        <div id="AIAlarmSetup" style="display: inline-block; width:45% " align="left">
            <h3>Scale setup</h3>
            <div class="form-group">
                @Html.LabelFor(m => m.AIAlarmSetup.AICType)
                @Html.EnumDropDownListFor(m => m.AIAlarmSetup.AICType, "Select", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.AIAlarmSetup.AICType)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AIAlarmSetup.ScaleMax)
                @Html.TextBoxFor(m => m.AIAlarmSetup.ScaleMax, new { @class = "form-control", type = "number", step = "0.01" })
                @Html.ValidationMessageFor(m => m.AIAlarmSetup.ScaleMax)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AIAlarmSetup.ScaleMin)
                @Html.TextBoxFor(m => m.AIAlarmSetup.ScaleMin, new { @class = "form-control", type = "number", step = "0.01" })
                @Html.ValidationMessageFor(m => m.AIAlarmSetup.ScaleMin)
            </div>

        </div>

        <div id="AIAlarmSetup" style="display: inline-block; width:54% ">
            <h3>Alarm setup</h3>
            <div class="form-group">
                @Html.LabelFor(m => m.AIAlarmSetup.TimeDelay)
                @Html.TextBoxFor(m => m.AIAlarmSetup.TimeDelay, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.AIAlarmSetup.TimeDelay)
            </div>
            <div class="form-group" id="AlarmHH">
                @Html.LabelFor(m => m.AIAlarmSetup.AlarmHH)
                @Html.TextBoxFor(m => m.AIAlarmSetup.AlarmHH, new { @class = "form-control", type = "number", step = "0.01" })
                @Html.ValidationMessageFor(m => m.AIAlarmSetup.AlarmHH)
            </div>
            <div class="form-group" id="AlarmH">
                @Html.LabelFor(m => m.AIAlarmSetup.AlarmH)
                @Html.TextBoxFor(m => m.AIAlarmSetup.AlarmH, new { @class = "form-control", type = "number", step = "0.01" })
                @Html.ValidationMessageFor(m => m.AIAlarmSetup.AlarmH)
            </div>
            <div class="form-group" id="AlarmL">
                @Html.LabelFor(m => m.AIAlarmSetup.AlarmL)
                @Html.TextBoxFor(m => m.AIAlarmSetup.AlarmL, new { @class = "form-control", type = "number", step = "0.01" })
                @Html.ValidationMessageFor(m => m.AIAlarmSetup.AlarmL)
            </div>
            <div class="form-group" id="AlarmLL">
                @Html.LabelFor(m => m.AIAlarmSetup.AlarmLL)
                @Html.TextBoxFor(m => m.AIAlarmSetup.AlarmLL, new { @class = "form-control", type = "number", step = "0.01" })
                @Html.ValidationMessageFor(m => m.AIAlarmSetup.AlarmLL)
            </div>
            
            

        </div>
    </div>




    @Html.HiddenFor(m => m.Component)
    @Html.HiddenFor(m => m.AIAlarmSetup.Id)
    @Html.HiddenFor(m => m.AIAlarmSetup.IdComponent)
    @Html.HiddenFor(m => m.AIAlarmSetup.IdIO)
    @Html.HiddenFor(m => m.AIAlarmSetup.Comment)


    <div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>


}
<p align="right">
    <span style="display:inline-block; width: 20%;"></span>
    <input type="button" value="Cancel" class="btn btn-light" onclick="@("window.location.href='" + @Url.Action("Index", "Factory") + "'");" />
</p>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#UseAlarmHH").change(function () {
                if (!this.checked)
                    $("#AlarmHH").fadeIn("slow");
                else
                    $("#AlarmHH").fadeOut("slow");
            });
        });

        $(document).ready(function () {
            $("#UseAlarmH").change(function () {
                if (!this.checked)
                    $("#AlarmH").fadeIn("slow");
                else
                    $("#AlarmH").fadeOut("slow");
            });
        });

        $(document).ready(function () {
            $("#UseAlarmL").change(function () {
                if (!this.checked)
                    $("#AlarmL").fadeIn("slow");
                else
                    $("#AlarmL").fadeOut("slow");
            });
        });
        $(document).ready(function () {
            $("#UseAlarmLL").change(function () {
                if (!this.checked)
                    $("#AlarmLL").fadeIn("slow");
                else
                    $("#AlarmLL").fadeOut("slow");
            });
        });
            
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
