@using PLC_GenCo.ViewModels

@model PLC_GenCo.ViewModels.EditIOIOListViewModel
@{
    ViewBag.Title = "EditIO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IO setup</h2>



@using (Html.BeginForm("Save", "IOList"))
{

    <div class="form-group">
        @Html.LabelFor(m => m.IO.Name)
        @Html.TextBoxFor(m => m.IO.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.IO.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.IO.Comment)
        @Html.TextBoxFor(m => m.IO.Comment, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.IO.Comment)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.IO.Standard)
        @Html.EnumDropDownListFor(m => m.IO.Standard, "Select standard", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.IO.Standard)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.IO.ConnectionType)
        @Html.EnumDropDownListFor(m => m.IO.ConnectionType, "Connection select", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.IO.ConnectionType)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.IO.Location)
        @Html.DropDownListFor(m => m.IO.Location, new SelectList(Model.IOLocations, "Name", "Name"), "Select Location", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.IO.Location)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.IO.PLCAddress.Module)
        @Html.TextBoxFor(m => m.IO.PLCAddress.Module, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.IO.PLCAddress.Module)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.IO.PLCAddress.Channel)
        @Html.TextBoxFor(m => m.IO.PLCAddress.Channel, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.IO.PLCAddress.Channel)
    </div>

    if (Model.Parents.Any())
        {
            <div class="form-group">
                @Html.LabelFor(m => m.IO.Parent)
                @Html.DropDownListFor(m => m.IO.Parent, new SelectList(Model.Parents, "Id", "Name"), "Select Parent", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.IO.Parent)
            </div>
        }


    @Html.HiddenFor(m => m.IO.Id)

    <button type="submit" class="btn btn-primary">Confirm</button>
    <span style="display:inline-block; width: 100px;"></span>
    <button class="btn btn-primary">@Html.ActionLink(" ", "Index", "IOList", null)Cancel </button>

}


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}